@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>2º BPTran</h1>
    <p class="lead">Segundo Batalhão de policiamento de trânsito.</p>
    
</div>

<div class="row">
    <div class="col-md-4 text-center">
        <h2>SUBCOMANDANTE</h2>
        <img src="~/fotos/920461.jpg" />
        
    </div>
    <div class="col-md-4 text-center ">
        <h2>COMANDANTE</h2>
        <img src="~/fotos/855001.jpg" class="rounded "/>
        
    </div>
    <div class="col-md-4 text-center">
        <h2>COORD OP</h2>
        <img src="~/fotos/855001.jpg" class="rounded " />
        
    </div>
</div>