body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*INICIO - pagina efetivo*/

.pm {
    padding-right: 10px;
    position: relative;
    float: left;
}

.postoGradNome{
   font-family:Verdana;
   font-size:12px;
   text-align:center;
   font-weight:bold;
}

.foto {
    width: 150px;
    height: 200px;
    border: 1px solid black;
}

.foto img:first-of-type {
    width: 150px;
    height: 200px;
    }
/*FIM - pagina efetivo*/

.txtDetails {
    font-family: Verdana;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

